QWidget#nav-bar {
    background-color: #1F2937;
    border-radius: 12px;
}

QWidget#results-nav-bar {
    background-color: #1F2A3A;
    min-height: 110px;
    max-height: 110px;
    border: none;
    border-radius: 14px;
}

QWidget#nav-bar QPushButton,
QWidget#results-nav-bar QPushButton {
    background-color: transparent;
    color: #D1D5DB;

    border: none;
    border-radius: 8px;

    padding: 14px 18px;

    font-family: "Segoe UI";
    font-size: 32px;
    font-weight: bold;

    text-align: left;
}

QWidget#nav-bar QPushButton:hover,
QWidget#results-nav-bar QPushButton:hover {
    background-color: #374151;
    color: #FFFFFF;
}

QWidget#nav-bar QPushButton:pressed,
QWidget#results-nav-bar QPushButton:pressed {
    background-color: #4B5563;
}